.sidebar {
  background-image: linear-gradient(to top, #121216, #19191d, #202024, #27272b, #2e2e32);
    width: 15.5rem;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: .5rem 1rem;
    &__logo {
        width: 100%;
        height: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            height: 100%;
            width:  120px;
            object-fit: cover;
        }

    }
    &__list {
        list-style: none;
        padding: 0;
        margin: 0;
        opacity: 0.75;
        li {
            cursor: pointer;
            & :hover {
                opacity: 1;
            }
        }
        &__wrapper__item {
            font-size: var(--font-size-2);
            display: flex;
            align-items: center;
            align-content: center;
            padding: .35rem 0;
        }
        &--label {
            font-size: 80%;
            font-weight: 400;
            padding-left: 0.5rem;
        }
        &--one {
            margin-top: 0rem;
        }
    }
    &__separator {
        margin: 1rem 0;
        &--line {
            border-bottom: solid 1px var(--color-2);
        }
    }
}
