<div class="sidebar">
  <div><i class=" ">My Tunez</i></div>
  <ul class="sidebar__list sidebar__list--one">
    <li [routerLink]="item.router" *ngFor="let item of mainMenu.defaultOptions">
      <div class="sidebar__list__wrapper__item">
        <i [ngClass]="['fa',item.icon]"></i>
        <span class="sidebar__list sidebar__list--label">{{item.name}}</span>
      </div>
    </li>
  </ul>
  <div class="sidebar__separator"></div>
  <ul class="sidebar__list sidebar__list--two">
    <li *ngFor="let item of mainMenu.accessLink">
      <div class="sidebar__list__wrapper__item">
        <i [ngClass]="['fa',item.icon]"></i>
        <span class="sidebar__list sidebar__list--label" (click)="addPopUpContext()">{{item.name}}</span>
      </div>
    </li>
  </ul>
  <div class="sidebar__separator sidebar__separator--line"></div>
  <ul class="sidebar__list sidebar__list--three">
    <li [routerLink]="['/tracks', item.name]" *ngFor="let item of customOptions">
      <div class="sidebar__list__wrapper__item">
        <span class="sidebar__list sidebar__list--label">{{item.name}}</span>
      </div>
    </li>
  </ul>
</div>
