.sectionGeneric {
    margin-bottom: 2rem;
    &__title {
        letter-spacing: 2px;
    }
    &__player {
        &--zone {
            .sectionGeneric__player--list {
                display: grid;
                list-style: none;
                margin: 0;
                padding: 0;
                gap: 1.15rem;
                &.card--big {
                    grid-template-columns: repeat(6, minmax(100px, 1fr));
                }
            }
        }
    }
}