<div class="playlistheader">
    <div class="playlistheader__cover">
        <div class="playlistheader__cover__mock">
            <img appImgBroken [src]="dataAlbum.imageCover ">
        </div>
    </div>
    <div class="playlistheader__content">
        <div class="playlistheader__content__smalltext">ALBUM</div>
        <h1 class="playlistheader__content__title">{{dataAlbum.title}}</h1>
        <h5 class="playlistheader__content__subtitle">{{nameArtist}}<span class="playlistheader__content__subtitle--countTracks">{{TotalSongs}} songs</span> </h5>
    </div>
</div>